/*CSS for the layout of the Dollar Grocers Pages



	Authors: Adam Whitaker-Wilson and Doug Walch
	Date: October
	
	File Name: Dollar_Grocers_Layout.css
	Supporting Files: 
	
*/



body * {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}