/*

   Layout Styles
   Author: Adam Whitaker-Wilson, Doug Walch
   Date:   Novenmber 5th 2016

   Filename:         dg_layout.css
   Supporting Files: 

*/

body * {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	font-weight: inherit;
	line-height: 1.2em;
	list-style: none;
	margin: 0px;	
	padding: 0px;
	vertical-align: baseline;
	
}
body{
	margin: 0px;
    padding: 0px;
	background: -o-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -ms-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -moz-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -webkit-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	
}
header h1:not(#dol){	
	padding: 0px;
	background: url('lemonhead2.jpg') no-repeat right bottom;
	height:70px;
	width:100%;	
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	
}
nav.horizontal {
	background: -o-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -ms-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -moz-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -webkit-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	height: 75px;
	position: fixed;
	display: block;
	width: 100%;
}
nav.horizontal li {
	display: block;
	position: relative;
	float:left;
	letter-spacing: 5px;
	line-height: 30px;
	text-align: center;
	padding-left: 75px;
	width: 10%;
	left: 8%;
}
nav.horizontal li  a{
    color: rgb(68, 0, 163);
    font-variant: small-caps;
    font-size: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: none;
    width: 100%;
    -moz-text-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;    
    -webkit-text-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;   
    text-shadow: rgba(0,0,0, 0.25) 2px 0px 3px; 
   
    
}

nav.horizontal li a:hover {
	color: rgb(255,255,0);
}

nav.vertical {
	display:none;
	float:left;
	width: 18%;
}

nav.vertical li a {
	color: rgb(68, 0, 163);
    font-variant: small-caps;
    font-size: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: none;
    width: 100%;
    -moz-text-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;    
    -webkit-text-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;   
    text-shadow: rgba(0,0,0, 0.25) 2px 0px 3px;
}

figure.JuiceHome {
	margin-top: 100px;
	float:right;
	width: 49%;
}

article.openStatement {
	margin:125px;
	clear:left;
	float:left;
	width:30%;
}
article.openStatement h1 {
	font-weight: bold;
	font-size: 200%;
	letter-spacing: 2px;
	text-decoration:underline;
}
article.openStatement p span {
	font-size: 400%;
}
article.openStatement p {
	letter-spacing: 1px;
	line-height: 25px;
}

footer {
	bottom: 0;
	left: 0;
	height: 70px;
	background-color: white;
	width: 98%;
	background: -o-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -ms-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -moz-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -webkit-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
}
	
footer address {   
	color: rgb(68, 0, 163);   
	font-size: 80%;   
	font-style: normal;   
	padding: 5px;
	text-align: center; 
	background: -o-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -ms-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -moz-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: -webkit-linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
	background: linear-gradient(left, rgb(187,255,65), rgb(231, 231, 231));
}

#head{
	display: block;
	position:relative;
	overflow:visible;
}
#joe{
	width: 15%;	
}
#juice{
	margin: 5px;
	border: 1px solid #777;
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
	border-radius: 30px;
	-moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;    
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;   
	box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px; 
}
h1.specials {
	margin-top: 160px;
	clear:right;
	float:right;
	width:48%;
}
table, th, td {
	border: black solid 1px;
}
table {
	border-collapse: collapse;
}

form#quickOrder {
	margin-left: 125px;
	width: 30%;
}
label {
	clear:left;
	float:left;
}
input {
	clear:left;
	float:left;
}
textarea {
	clear:left;
	float:left;
}