/*
      
      Dollar Grocers Form Styles
      Author: Adam Whitaker-Wilson and Doug Walch
      Date:   October 3rd 2016

      Filename:         dgforms.css
      Supporting files: 
*/


img{
    width: 50%;
}