/*
      
      Dollar Grocers Form Styles
      Author: Adam Whitaker-Wilson and Doug Walch
      Date:   October 3rd 2016

      Filename:         dgforms.css
      Supporting files: 
*/

img#gallery{
    display: inline-block;
    margin: 5px;
    border: 1px solid #777;
    float: left;
    width: 50px;
    position:relative;
    top: 2.5em; 
    
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    border-radius: 30px;
   
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;    
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px;   
   
    box-shadow: rgba(0, 0, 0, 0.6) 10px 0px 15px; 
}


img{
    width: 10%;
    height: auto;    
    top: 10%;
	

}
section a img#soda:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
	top:15%;
	width:15%;
	
}
section a img#produce:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#staranis:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#bulk1:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#bulk2:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#bulk3:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#bulk4:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#bulk5:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#bulk6:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#bulkland:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#bulkscoop:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#bulkseeds:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#cheese:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#coffee:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#curry:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#ddpk:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#ddpk2:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#grocery:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
section a img#grocery2:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	top:15%;
	width:15%;
}
section a img#hall:hover {
	border: 1px solid #ccc;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:15%;
	width:15%;
}
