/*
      
      Dollar Grocers Style Sheet
      Author: Adam Whitaker-Wilson and Doug Walch
      Date:   October 3rd 2016

      Filename:         dg_styles.css
      Supporting files: 
   */
   
body * {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	font-weight: inherit;
	line-height: 1.2em;
	list-style: none;
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
	width:98%;
}
   
header h1 {
	font-size: 100%;
	font-weight: bold;
	text-shadow: rgb(50,50,50);
}

/*Horizontal Navigation List Styles */
nav.horizontal {
	background-color: rgb(187,255,65);
	height: 40px;
	position: fixed;
	
}

nav.horizontal li {
	display: block;
	float: left;
	line-height: 20px;
	text-align: center;
	width: 10%;
}

nav.horizontal li  a{
	color: blue;
    font-variant: small-caps;
    font-size: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: none;
}

nav.horizontal li a:hover {
	color: rgb(255,255,0);
}
/* Footer Styles */
   
footer {   

	clear: left;   
	margin-left: 33%;   
	width: 66%; 
	}
	
footer address {   

	color: rgb(182, 182, 92);   
	font-size: 80%;   
	font-style: normal;   
	padding-top: 10px;   
	text-align: center; 
	}

/* Section Image Styles */

section > img{
	
}	