/*
      
      Dollar Grocers Form Styles
      Author: Adam Whitaker-Wilson and Doug Walch
      Date:   October 3rd 2016

      Filename:dgforms.css
      Supporting files: 
	  
	  DELETE THIS
*/

fieldset{
	width: 80%;
	float:left;
	position: fixed;
	top:15%;
	left: 5%;
}

form p#contactsubmit{
	text-align: center;
	width:25%;
}

form#orderform{
	display:block;
	width: 60%;	
	float:left;
	position: fixed;
	top:15%;
	left:35%;
}

form p#ordersubmit{
	text-align: center;
	width:25%;
}

fieldset{
	border:none; 
}

legend{
	text-align: center;
	padding: 1em;
}


label{
	display:block;
	padding: 2px;
}
form fieldset label#orderfield {
	float:left;
}

/* Input Control Styles */

form fieldset input#contname, form fieldset input#contemail{
	width:150px;
	
}
form fieldset input#phone{
	width: 17%;
	
}
form fieldset input#ordername, form fieldset input#orderemail{
	width: 30%;
	
}
form fieldset input#address{
	width:30%;
	
}
form fieldset input#postal{
	width:10%;
	
}
form fieldset input#orderfield{	
	width:100px;
	height:500px;
}


/* Selection list styles */

select{
	width:17.5%;
}

/* Textarea styles */

form fieldset textarea#contmessage{
	height: 200px;
	width: 300px;
}
form fieldset fieldset textarea#orderfield{
	float: left;
}


/* Validation styles */
/*
input:focus, select:focus, textarea:focus{
	background-color: rgb(220,255,220);
}
*/
input:focus:valid {    
	background: rgb(220, 255, 220);
    -o-background-size: contain;    
	-moz-background-size: contain;    
	-webkit-background-size: contain;    
	background-size: contain; 
	}

input:focus:invalid{
	background: rgb(255, 232, 233);
    -o-background-size: contain;    
	-moz-background-size: contain;    
	-webkit-background-size: contain;    
	background-size: contain; 
}
